---
import Brief from "src/components/Brief.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"articles">;
}

const { entry } = Astro.props;
const { title, brief, publishedAt, tags } = entry.data;
---

<Brief title={title} url={entry.slug} publishedAt={publishedAt} tags={tags}>
  <p>{brief}</p>
</Brief>
