---
import { format } from "date-fns";
import doExpr from "src/utils/do-expr";
import ArticleTags from "./ArticleTags.astro";
import Link from "src/components/Link.astro";
import MarkdownContent from "src/components/MarkdownContent.astro";

interface Props {
  title: string;
  source?: string;
  slug: string;
  publishedAt: Date;
  thumbnail?: string;
  tags?: Array<string>;
  icon?: string;
}

const { title, source, slug, publishedAt, tags, icon } = Astro.props;
---

<article class="flex flex-col gap-3">
  <h1 class="text-xl">
    {icon && <span class="mr-1.5">{icon}</span>}
    <Link href={slug} class="font-bold">
      {title}
    </Link>
  </h1>
  {
    source && (
      <h5 class="text-xs italic">
        Source:
        <Link href={source} newTab>
          {source}
        </Link>
      </h5>
    )
  }
  <time class="text-xs text-gray-400"
    >{format(new Date(publishedAt), "yyyy-MM-dd")}</time
  >
  <MarkdownContent class="prose-sm">
    <slot />
  </MarkdownContent>
  {tags && <ArticleTags tags={tags} />}
</article>
