---
import Brief from "src/components/Brief.astro";
import { hotlinksConfig } from "src/content/config";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"hotlinks">;
}

const { entry } = Astro.props;
const { title, source, slug, brief, publishedAt, tags } = entry.data;
const { Content } = await entry.render();
---

<Brief
  title={title}
  source={source}
  slug={slug}
  publishedAt={publishedAt}
  tags={tags}
  icon={hotlinksConfig.icon}
>
  <p>{brief ?? <Content />}</p>
</Brief>
