---
import Brief from "src/components/Brief.astro";
import { reactionsConfig } from "src/content/config";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"reactions">;
}

const { entry } = Astro.props;
const { title, brief, publishedAt, tags } = entry.data;
---

<Brief
  title={title}
  url={entry.slug}
  publishedAt={publishedAt}
  tags={tags}
  icon={reactionsConfig.icon}
>
  <p>{brief}</p>
</Brief>
