---
import "@fontsource-variable/fira-code";
import Logo from "src/components/Logo.astro";
import ThemeToggle from "src/components/solid/ThemeToggle";
import HeaderLink from "src/components/HeaderLink.astro";
import {
  articlesConfig,
  hotlinksConfig,
  reactionsConfig,
} from "src/content/config";

interface Props {
  title?: string;
}

const { title } = Astro.props;
const PUBLIC_GOOGLE_SITE_VERIFICATION = import.meta.env
  .PUBLIC_GOOGLE_SITE_VERIFICATION;
const PUBLIC_UMAMI_WEBSITE_ID = import.meta.env.PUBLIC_UMAMI_WEBSITE_ID;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={title} />
    <meta name="viewport" content="width=device-width" />
    {
      PUBLIC_GOOGLE_SITE_VERIFICATION && (
        <meta
          name="google-site-verification"
          content={PUBLIC_GOOGLE_SITE_VERIFICATION}
        />
      )
    }
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    {
      PUBLIC_UMAMI_WEBSITE_ID && (
        <script
          async
          src="https://analytics.eu.umami.is/script.js"
          data-website-id={PUBLIC_UMAMI_WEBSITE_ID}
        />
      )
    }
  </head>
  <body class="bg-gray-100 dark:bg-[#1D1D35] text-gray-600 dark:text-[#E9EDDE]">
    <header class="container px-6 py-3 lg:px-56">
      <nav class="flex items-center justify-between mx-auto">
        <div class="flex flex-1 justify-start">
          <a href="/">
            <Logo />
          </a>
        </div>
        <div class="flex gap-8">
          <!--bg-[#159957] dark:bg-[#003000]-->
          <HeaderLink
            href="/articles"
            icon={articlesConfig.icon}
            label={articlesConfig.label}
          />
          <HeaderLink
            href="/reactions"
            icon={reactionsConfig.icon}
            label={reactionsConfig.label}
          />
          <HeaderLink
            href="/hot-links"
            icon={hotlinksConfig.icon}
            label={hotlinksConfig.label}
          />
        </div>
        <div class="flex flex-1 justify-end">
          <ThemeToggle client:load />
        </div>
      </nav>
    </header>
    <main class="container p-6 lg:px-56 lg:p-12">
      <slot />
    </main>
  </body>
</html>

<style is:global></style>

<script is:inline>
  (() => {
    const defaultTheme =
      window.localStorage.getItem("theme") ||
      (window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light");

    document.documentElement.classList.toggle("dark", defaultTheme === "dark");
    window.localStorage.setItem("theme", defaultTheme);
  })();
</script>
